from tkinter import *
from tkinter import ttk
from tkinter import messagebox

class Phonenumber:
    def __init__(self):
        self.form = Tk()
        self.phone_number()
        self.form.mainloop()
        
        
    def save (self,phone_number):
        with open('C:/Users/SistanaLabtop/Desktop/test.txt','a') as p:
            if len(phone_number)>=7 and len(phone_number)<=15:
                p.write(phone_number+"\n")
                msg_box= messagebox.showinfo("success","saving")
            else:
                msg_box= messagebox.showerror("thats incorrect","try again")
                
                
    def second_ui(self):
        number=StringVar()
        phone_entry = Entry(self,form,textvariable=number).place(x=35,y=10)
        
        save_btn = Button(self,form,text="save phone",command=lambda:self.save(number.get())).place(x=50,y=40)
        
numbers = Phonenumber()
        
        
